@import url(https://fonts.googleapis.com/css?family=Nunito);
.c-base-timer {
  position: relative;
  margin: 1em auto 0;
  height: 400px;
  width: 400px;
}
.c-base-timer__svg {
  transform: scaleX(-1);
}
.c-base-timer__svg > g {
  fill: none;
  stroke: none;
}
.c-base-timer__svg > g > circle {
  stroke-width: 7px;
  stroke: #767676;
  opacity: 0.7;
}
.c-base-timer__svg > path {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: #21ba45;
  fill: none;
}
.c-base-timer__svg > path:last-child {
  stroke: #f7b5c0;
}
.c-base-timer__svg > path[aria-hidden=true] {
  display: none;
}
.c-base-timer__label {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}

.p-play__menu {
  margin: 0.5em 0;
  height: 35px;
  text-align: center;
  font-size: 35px;
}
.p-play__menu--next {
  height: 35px;
  font-size: 25px;
}
.p-play__description {
  height: 50px;
  font-size: 25px;
}
.p-play__remaining-count {
  margin: 10px 0 0;
  height: 30px;
  font-size: 25px;
}

.c-training-card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
