$timer-diameter: 400px;

.c-base-timer {
  position: relative;
  margin: 1em auto 0;
  height: $timer-diameter;
  width: $timer-diameter;

  &__svg {
    transform: scaleX(-1);

    & > g {
      fill: none;
      stroke: none;

      & > circle {
        stroke-width: 7px;
        stroke: #767676;
        opacity: 0.7;
      }
    }

    & > path {
      stroke-width: 7px;
      stroke-linecap: round;
      transform: rotate(90deg);
      transform-origin: center;
      transition: 1s linear all;
      stroke: #21ba45;
      fill: #fff;
    }
  }

  &__label {
    position: absolute;
    width: $timer-diameter;
    height: $timer-diameter;  
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
  }
}
