.p-play {
  &__header {
    height: 35px;
    font-size: 25px; 
    overflow: hidden;
  }

  &__menu {
    margin: 10px 0;
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 35px;

    &--next {
      height: 35px;
      font-size: 25px; 
    }
  }

  &__description {
    height: 70px;
    font-size: 25px;
  }

  &__remaining-count {
    margin: 10px 0 0;
    height: 30px;
    font-size: 25px;
  }
}
