.p-play {
  &__menu {
    margin: 0.5em 0;
    text-align: center;
    font-size: 35px;

    &--next {
     font-size: 25px; 
    }
  }

  &__description {
    height: 50px;
    font-size: 25px;
  }
}
